# Игрорируем папку venv
venv/

# Папки и файлы для игнорирования
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файл с настройками IDE (например, PyCharm)
.idea/

# Игнорируем виртуальные окружения других имен (например, .env или env)
.env/
